body, div, p, ol, ul, td, span  {
  background-color: #fff;
  color: #333;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #333;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  &:before, &:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  &:before {
    content: "YES";
    padding-left: 10px;
    background-color: #F08913;
    color: #FFFFFF;
  }
  &:after {
    content: "NO";
    padding-right: 10px;
    background-color: #999999;
    color: #FFFFFF;
    text-align: right;
  }
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-switch {
    right: 0px;
  }
}

.filter-button {
  display: block;
  width: 60px;
     height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
   border: 2px solid #999999;
  border-radius: 20px;
    background-color: #666666;

}

#products {
	display: block;
	width: 100%;
    font-family: Trebuchet, Arial, sans-serif;
}

#products table, tr {
	padding: 0px;
}

#products td {
	width: 20%;
	padding: 5px;
	align: center;
}

.categories {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.categories-checkbox {
  display: none;
}

.categories-label {
  display: block;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.categories-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  &:before, &:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  &:before {
    padding-left: 10px;
    background-color: #F08913;
    color: #FFFFFF;
  }
  &:after {
    padding-right: 10px;
    background-color: #999999;
    color: #FFFFFF;
    text-align: right;
  }
}

.categories-checkbox:checked + .categories-label {
  .categories-inner {
    margin-left: 0;
  }
  .categories-switch {
    right: 0px;
  }
}